/* =====================
Base / Reset styles
==================== */

body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* ========
Global-section-setings
========= */

.section {
   padding: 120px 0;
}

/* =====================
Container
==================== */

.container {
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

/* =====================
Header
==================== */

.page-header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
   display: flex;
   align-items: center;
}

.header-nav {
   display: flex;
   align-items: center;
}

.nav-list {
   display: flex;
   gap: 40px;
}

.contacts {
   margin-left: auto;
   font-style: normal;
}

.contacts-list {
   display: flex;
   gap: 40px;
}

.nav-link {
   display: block;
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current{
   position: relative;
}
.nav-link.current::after{
   content: "";
position:absolute;

left: 0;
bottom: -1px;

   width:100%;
   height:4px;

   background-color:#404bbf;
   border-radius: 2px;
}



.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current
{
   color: #404bbf;
}

.contacts-link {
   display: block;
   padding: 24px 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====================
Logo
==================== */

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.logo-part {
   color: #2e2f42;
}

.header-logo {
   margin-right: 76px;
   padding: 24px 0;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* =====================
Hero section
==================== */

.hero {
   padding: 188px 0;
   background-color: #2e2f42;
   background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
   max-width: 1440px;
   height: 600px;
   margin:0 auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.hero-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.hero-title {
   max-width: 496px;
   margin-bottom: 48px;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.hero-btn {
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   line-height: 1.5;
   padding: 16px 32px;
   min-width: 169px;
   font-family: inherit;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.04em;
   color: #ffffff;
   background-color: #4d5ae5;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
   background-color: #404bbf;
}

/* =====================
Features section
==================== */

.hero-section-info {
   padding: 120px 0;
}

.section-list {
   display: flex;
   gap: 24px;
   justify-content: center;
   flex-wrap: wrap;
}
.features-icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 264px;
   height: 112px;
   background-color: #f4f4fd;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   margin-bottom: 8px;

}

.section-list li {
   width: calc((100% - 72px) / 4);
}

.features-title {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.features-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/* =====================
Team section
==================== */

.section-team {
   background-color: #f4f4fd;
   padding: 120px 0;
}

.team-title {
   margin-bottom: 72px;
   font-size: 36px;
   font-weight: 700;
   text-align: center;
   color: #2e2f42;
   line-height: 1.11;
      
      letter-spacing: 0.02em;
}

.team-list {
   display: flex;
   gap: 24px;
   justify-content: center;
   flex-wrap: wrap;
}

.team-card {
   width: calc((100% - 72px) / 4);
   background-color: #ffffff;
   border-radius: 0 0 4px 4px;
   box-shadow:
      0 2px 1px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16),
      0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card-content {
   padding:32px 16px;
   text-align: center;
}

.team-card h3 {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   color: #2e2f42;
   letter-spacing: 0.02em;
}

.team-card p {
   font-size: 16px;
   line-height: 1.5;
   color: #434455;
   letter-spacing: 0.02em;
}
.team-social-list {
   display: flex;
   gap: 24px;
   margin-top: 8px;
}
.team-social-link {
   background-color: #4d5ae5;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
   background-color: #404bbf;
}
.team-social-icon {
   fill:#f4f4fd;
}

/* Portfolio section */

.portfolio {
   padding: 120px 0;
}

.team-portfolio {
   margin-bottom: 72px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}


/* .portfolio-list {
   display: flex;
   flex-wrap: wrap;
   gap: 48px 24px;
} */

.portfolio-card {
   /* width: 360px; */
   background-color: #ffffff;
   border: none;
}

.portfolio-title {
   text-align: left;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.portfolio-category {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
.portfolio-text {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;

}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-cover-text{
 transform: translateY(0);
}
.portfolio-card{
    width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover{
    cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

/* =====================
Footer
==================== */

.footer {
   background-color: #2e2f42;
   padding-top: 100px;
   padding-bottom: 100px;

}

.footer-container {
   display: flex;
   align-items: baseline;
}

.footer-wrapper-logo {
   margin-right: 120px;
}



.footer-logo {
   display: inline-block;
   padding: 0;
   margin-right: 0;
   margin-bottom: 16px;
}
.footer-logo-header-logo{
 color:#4d5ae5;
   font-family: 'Raleway', sans-serif;
}

.footer-logo-span {
   color: #f4f4fd;
     font-family: 'Raleway', sans-serif;
}

.footer-text {
   width: 264px;
   line-height: 1.5;
   color: #F4F4FD;
   letter-spacing: 0.02em;
}

.footer-wrapper-socialmedia-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #ffffff;
   margin-bottom: 16px;
}

.footer-social-list {
   display: flex;
   gap: 16px;
}

.footer-social-item {
   width: 40px;
   height: 40px;
}

.footer-social-icon {
   fill: #f4f4fd;
}

.footer-social-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
   background-color: #31d0aa;

}


.svg-footer {
   fill: #f4f4fd;
}

.order-form {
   display: flex;
   gap: 24px;
}
.footer-form-group {
   margin-left: auto;
   /* ← притискає блок вправо */
}

.order-form-input {
   width: 264px;
   height: 40px;
   border: 1px solid #ffffff;
   background-color: transparent;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
   padding-left: 16px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: #ffffff;
   transition:
         border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.order-form-button {
   min-width: 165px;
   height: 40px;
   display: flex;
   justify-content: center;
   /*для вирівнювання контенту по горизонталі*/
   align-items: center;
   /*для вирівнювання контенту по вертикалі*/
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   background-color: #4D5AE5;
   border: none;
   border-radius: 4px;
   /*padding: 8px 24px;*/
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   margin: 0 auto;
}


.order-form-button-svg {
   margin-left: 16px;
   fill: white;
}
/* ChainGPT */
.order-form-input::placeholder {
   color: #ffffff;
   opacity: 1;
   /* важливо для Firefox */
}

.order-form-button:hover {
   background-color: #31d0aa;
   /* зелений колір */
  
}

/* Поле вводу змінює бордер на зелений при фокусі */
.order-form-input:focus {
   border: 1px solid #31d0aa;
   
   outline: none;
   /* прибирає стандартний синій ободок */
   box-shadow: 0 0 5px rgba(49, 208, 170, 0.5);
  
  
}
.footer-div-form-group-p {
   color: #ffffff;
   /* білий колір тексту */
   font-size: 16px;
   /* можна підкоригувати під дизайн */
   font-weight: 500;
   /* трохи жирніше, якщо треба */
   margin-bottom: 16px;
   /* відступ від форми вниз */
}






.backdrop{
   position:fixed;
   top:0;
   left:0;

   width: 100%;
   height: 100%;

   background-color: rgba(46, 47, 66, 0.4);
   opacity: 0;
   visibility: hidden; 
   pointer-events: none; 
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
   visibility: visible; 
   pointer-events: auto; 
}

.modal{
   position: absolute;
   top:50%;
   left: 50%;

   width: 408px;
   min-height: 584px;
   border-radius: 4px;

   transform: translate(-50%, -50%);

   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
   background-color: #fcfcfc;

   transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal{
   transform:translate(-50%, -50%) scale(1.5);
   
}
.modal-button-close{
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e7e9fc;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0;
   cursor:pointer;
   transition:
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .modal-button-close .icon-close {
   fill: #2e2f42;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .icon-close,
.modal-button-close:focus .icon-close {
   fill: #ffffff;
} 
.modal-button-close:hover {
    background-color: #404bbf; 
    border: none; 
    
} 

.modal-button-close:focus {
    border: none; 
    
}

.modal-button-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-button-close:focus .modal-button-close-svg {
    fill: #ffffff;
}
.modal-p{
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.modal-form-div {
    margin-bottom: 8px;
}
.modal-form-div-1 {
   display: block;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8e8f99;
   margin-bottom: 4px;
}
/* .modal-form-div-l,
.modal-form-div-phone,
.modal-form-div-email {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px; 
} */
.modal-form-div-pers{
   position: relative;
}
.input-pers{
   border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
width: 100%;
background-color: transparent;
padding-left: 40px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-pers:focus{
   border-color: #4D5AE5;
}
.modal-form-div-svg{
   position: absolute;
   top:50%;
   transform:translateY(-50%);
   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   left: 12px;
   fill: #2e2f42;
      pointer-events: none;
}
.modal-form-div-pers:focus-within .modal-form-div-svg {
   fill: #4D5AE5;
}
.modal-form-div-comment {
    margin-bottom: 16px;
}
.modal-form-comment-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment-textarea:focus {
    border-color: #4D5AE5; 
} 
.modal-form-comment-textarea::placeholder {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
}
.modal-form-checkbox {
    margin-bottom: 24px;
}

.label-checkbox {
      display: flex;
         align-items: center;
         gap: 8px;
         
         font-size: 12px;
         line-height: 1.17;
         letter-spacing: 0.04em;
         color: #8e8f99;
}
.label-checkbox-span {
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
   /* ← ГАЛОЧКА СХОВАНА */
   transition: background-color 250ms, border 250ms, fill 250ms;
}

.input-checkbox:checked+.label-checkbox .label-checkbox-span {
   background-color: #404bbf;
   border: none;
   fill: #ffffff;
   /* ← ГАЛОЧКА ЗʼЯВЛЯЄТЬСЯ */
}
.label-checkbox-a {
   text-decoration: underline;
   color: #4d5ae5;
}

.modal-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer; 
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   margin: 0 auto;
}
.modal-form-button:hover,
.modal-form-button:focus {
   background-color: #404bbf;
   /* трохи темніший */
}

